html, input, button {
  font-family: 'Inconsolata';
}
#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}
.title{
  text-align: center;
}
#main {

}
#calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cal-button {
  font-size: 2em;
  flex-basis: 20%;
  margin: .25em;
}
.cal-box {
  font-size: 2em;
  flex-basis: 100%;
  text-align: center;
  margin: .25em;
}
#footer {
  text-align: center;
  margin: .25em;
}
