html, input, button {
  font-family: 'Inconsolata';
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
  #container {
    max-width: 400px;
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  #container {
    max-width: 400px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  #container {
    max-width: 400px;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  #container {
    max-width: 400px;
  }
}
#container {
  margin-left: auto;
  margin-right: auto;
}
.title{
  text-align: center;
}
#main {

}
#calculator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cal-button {
  font-size: 2em;
  flex-basis: 20%;
  margin: .25em;
  padding: .1em;
}
.cal-box {
  font-size: 2em;
  flex-basis: 100%;
  text-align: center;
  margin: .25em;
}
#footer {
  text-align: center;
  margin: .25em;
}
