* {
  font-family: 'Inconsolata';
}
.title{
  text-align: center;
}

input {
  text-align: center;
}

#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

#header {
}

#nav {
}

#main {
}

#aside {
}

#footer {
  text-align: center;
}

#calculator {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cal-button {
  font-size: 2em;
  flex-basis: 2em;
  margin: .25em;
  flex-basis: 20%;
}

.cal-box {
  width: 100%;
  font-size: 2em;
}
