body {
  background-color: #073642;
}

#header {
  color: #eee8d5;
}

#nav {
}

#main {
}

#aside {
}

#footer {
}

input {
  background-color: inherit;
  border: 1px solid #586e75;
  border-radius: 3px;
  color: #eee8d5;
  padding: 5px;
}

input:focus{
  border: 1px solid #fdf6e3;
}

input:hover {
  border-color: #fdf6e3;
}

.cal-button {
  color: #fdf6e3;
  background-color: #073642;
  border: 1px solid #586e75;
  border-radius: 3px;
}

.cal-button:hover {
  background-color: #002b36;
  border-color: #fdf6e3;
}

#footer button {
  color: #fdf6e3;
  background-color: #073642;
  border: 1px solid #586e75;
  border-radius: 3px;
}

#footer button:hover {
  background-color: #002b36;
  border-color: #fdf6e3;
}
